* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 3rem 3rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    width: 80vw;
}

.box {
    width: 50vw;
    height: 60vh;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#heatex {
    border: 2px solid #000;
    width: 30%;
    height: 70px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.lines {
    width: 70%;
    height: 8px;
    border: 2px solid #000;
    margin: 5px;
}

#cin {
    width: 25%;
    height: 10px;
    border: 2px solid #000;
    position: absolute;
    right: 66%;
    border-right: none;
    border-left: none;
}

#cout {
    width: 25%;
    height: 10px;
    border: 2px solid #000;
    position: absolute;
    left: 66%;
    border-right: none;
    border-left: none;
}

#cinflow {
    width: 100%;
    border: none;
    height: 100%;
}

.cinflow-active {
    animation-name: fillbox;
    animation-duration: infinite;
    /* animation-iteration-count: infinite; */
}

@keyframes fillbox {
    from {
        width: 0%;
        background-color: aqua;
    }

    to {
        width: 100%;
        background-color: aqua;
    }
}


.table-container{
    max-width: 80%;
}
.result{
    max-width: 60%;
}